:root {
  // Fonts
  --font-family-main: 'PT Root UI', Arial, sans-serif;
  --font-size-m: 16px;
  --font-weight-m: 500;
  --font-line-m: 1.3;

  // Colors
  --background-color-main: #f5f7f7;
  --background-color-white: #fff;
  --background-color-selected: #01b9c5/.05;

  --light-green: #01b9c5;
  --orange: #fd4d35;

  --card-line-color: #e7eaf1;
  --radio-color: #555965;

  --main-text-color: #2d3242;
  --gray-font: #818798;
  --tarif-name-color: #687078;
  --old-price-color: #95979f;
  --background-gray: #f5f7f7;
  --link-color: #2d97f9;
}
